* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#main {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 5px;
}

.inputs {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.imgtitle {
  height: 25px;
  width: 200px;
  margin-right: 10px;
  border: 1.5px solid black;
  text-align: center;
  border-radius: 5px;
}
.imgdescription {
  height: 25px;
  width: 400px;
  border: 1.5px solid black;
  text-align: center;
  border-radius: 5px;
}
.imgusername {
  height: 25px;
  width: 200px;
  margin-left: 10px;
  border: 1.5px solid black;
  text-align: center;
  border-radius: 5px;
}
.imgfile {
  height: 25px;
  width: 300px;
  margin-left: 10px;
}

.submit {
  height: 40px;
  width: 100px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 98, 0, 1) 49%,
    rgba(227, 242, 117, 1) 100%
  );
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border: thin;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.container {
  border: 1px solid black;
  background-color: white;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.images {
  width: 280px;
  height: 200px;
  object-fit: cover;

  align-items: center;
}

.title {
  width: 300px;
  height: 20px;
  color: black;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-align: left;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  margin-left: 10px;
  color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 43%,
    rgba(0, 212, 255, 1) 98%
  );
}

.navigation {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: flex-start;
  background-color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 98, 0, 1) 49%,
    rgba(227, 242, 117, 1) 100%
  );
  border-bottom: black 1px solid;
}

.logo {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
